<div class="card">

  <a [routerLink]="['/products', product.id]">
    <img [src]="product.thumbnail" [alt]="product.title">
  </a>

  <h3>{{ product.title }}</h3>

  <p>{{ product.price | currency:'EGP' }}</p>

  <!-- Rating -->
  <div class="rating">
    @for (star of [1, 2, 3, 4, 5]; track star) {
    <span [ngClass]="star <= product.rating ? 'filled' : 'empty'">
      ★
    </span>
    }
  </div>

  <!-- Stock -->
  <p [ngClass]="product.stock === 0 ? 'out-stock' : 'in-stock'">
    {{ product.stock === 0 ? 'Out of Stock' : 'In Stock' }}
  </p>

  <button [disabled]="product.stock === 0" (click)="addToCart()">
    Add to Cart
  </button>

</div>